* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.tab-container {
  max-width: 600px;
  margin: auto;
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 8px;
  color: #fff
}

.tabs,
header {
  margin-bottom: 20px
}

.tabs {
  display: flex;
  border-bottom: 1px solid #333
}

.tab-button {
  flex: 1;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  color: #888;
  cursor: pointer;
  text-align: center;
  border-bottom: 2px solid transparent
}

.tab-button.active {
  color: #fff;
  border-bottom: 2px solid #fff
}

.tab-content {
  display: none
}

.tab-content.active {
  display: block
}

.notice {
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  position: relative
}

.notice strong {
  display: block;
  margin-bottom: 10px
}

.icon {
  display: flex;
  justify-content: flex-start;
  align-items: center
}

.link_row {
  color: #000
}

img {
  margin: 0 auto
}

header {
  background: #3c3c3c;
  padding: 2rem 0 11rem;
  text-align: center
}

.bx-left-arrow-alt:before {
  content: "\eb33";
  margin-left: 20px;
  color: #fff
}