@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap);

.form-box,
.nav,
.nav-menu ul,
.wrapper {
    display: flex
}

.form-box,
body {
    overflow: hidden
}

*,
body,
button {
    font-family: Poppins, sans-serif
}

.btn,
.nav-button .btn,
.submit,
.top span a {
    font-weight: 500
}

.btn,
.modal button,
.submit {
    cursor: pointer
}

.div_icon,
.modal,
header {
    text-align: center
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background: url("images/1.jpg") 0 0/cover no-repeat fixed
}

.wrapper {
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background-color: #294d38
}

.nav {
    position: fixed;
    top: 0;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39, 39, 39, .6), transparent);
    z-index: 100
}

.nav-logo p {
    color: #fff;
    font-size: 25px;
    font-weight: 600
}

.nav-menu ul li {
    list-style-type: none
}

.nav-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px
}

.active,
.link:hover {
    border-bottom: 2px solid #fff
}

.nav-button .btn {
    width: 130px;
    height: 40px;
    background: rgba(255, 255, 255, .4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s
}

.btn:hover {
    background: rgba(255, 255, 255, .3)
}

#registerBtn {
    margin-left: 15px
}

.btn.white-btn {
    background: rgba(255, 255, 255, .7)
}

.btn.btn.white-btn:hover {
    background: rgba(255, 255, 255, .5)
}

.nav-menu-btn {
    display: none
}

.form-box {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 420px;
    z-index: 2
}

.login-container,
.register-container {
    width: 500px;
    transition: .5s ease-in-out;
    display: flex;
    position: absolute
}

.login-container {
    left: 4px;
    flex-direction: column
}

.register-container {
    right: -520px;
    flex-direction: column
}

.input-field,
.submit {
    font-size: 15px;
    width: 100%;
    outline: 0;
    margin-bottom: 20px
}

.top span {
    color: #fff;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px
}

.top span a {
    color: #fff;
    margin-left: 5px
}

header {
    color: #fff;
    padding: 10px 0 30px;
    font-size: 14px
}

.two-forms {
    display: flex;
    gap: 10px
}

.icon {
    display: flex;
    align-items: center
}

.input-field {
    background: rgba(255, 255, 255, .2);
    color: #fff;
    height: 50px;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    transition: .2s
}

.input-field:focus,
.input-field:hover {
    background: rgba(255, 255, 255, .25)
}

::-webkit-input-placeholder {
    color: #fff
}

.input-box i {
    position: relative;
    top: -35px;
    left: 17px;
    color: #fff
}

.submit {
    color: #000;
    height: 45px;
    border: none;
    border-radius: 30px;
    background: rgba(255, 255, 255, .7);
    transition: .3s ease-in-out
}

.submit:hover {
    background: rgba(255, 255, 255, .5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, .2)
}

.two-col {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: small;
    margin-top: 10px
}

.two-col .one {
    display: flex;
    gap: 5px
}

.two label a {
    text-decoration: none;
    color: #fff
}

.two label a:hover {
    text-decoration: underline
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center
}

@media only screen and (max-width:786px) {

    .nav-menu,
    .nav-menu-btn i {
        background: rgba(255, 255, 255, .2);
        transition: .3s
    }

    .nav-button {
        display: none
    }

    .nav-menu.responsive {
        top: 100px
    }

    .nav-menu {
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px)
    }

    .nav-menu ul {
        flex-direction: column;
        text-align: center
    }

    .nav-menu-btn {
        display: block
    }

    .nav-menu-btn i {
        font-size: 25px;
        color: #fff;
        padding: 10px;
        border-radius: 50%;
        cursor: pointer
    }

    .nav-menu-btn i:hover {
        background: rgba(255, 255, 255, .15)
    }
}

@media only screen and (max-width:540px) {
    .wrapper {
        min-height: 100vh
    }

    .form-box {
        width: 100%;
        height: 500px
    }

    .login-container,
    .register-container {
        width: 100%;
        padding: 0 20px
    }

    .register-container .two-forms {
        flex-direction: column;
        gap: 0
    }
}

.fa-sun:before {
    content: "\f185";
    color: #ff0;
    margin-right: 14px
}

.fa-moon:before {
    content: "\f186";
    margin-right: 14px
}

img {
    margin: 0 auto;
    display: block;
    height: 30px
}

.dark .wrapper {
    background-color: #282828
}

.modal {
    background: #fafafa;
    border-radius: .5rem;
    padding: 2rem;
    width: min(37rem, 80%)
}

.modal::backdrop {
    background: rgba(0, 0, 0, .7)
}

.modal h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 0 .75rem;
    color: #0d114f
}

.modal p {
    margin-bottom: 1.5rem;
    color: #4d5e77
}

.btn {
    border: none;
    border-radius: .5rem;
    font-size: 1rem;
    background: #3485ff;
    color: #fafafa;
    transition: filter .2s;
    padding: 1rem 2rem
}

.btn.close {
    display: flex;
    align-items: center;
    clip-path: circle();
    position: absolute;
    top: 2rem;
    right: 2rem;
    height: 1rem;
    aspect-ratio: 1/1
}

.btn:focus,
.btn:hover,
button:focus,
button:hover {
    filter: brightness(1.2)
}

#buttonDiv {
    display: block;
    width: 300px;
    margin: 0 auto 20px 140px
}

.div_icon {
    display: flex;
    gap: 20px;
    color: #fff;
    justify-content: center;
    margin-bottom: 20px
}

.S9gUrf-YoZ4jf {
    margin-left: 40px
}