.card h3,
.card p,
h2,
table thead th {
    font-weight: 400
}

table tbody td,
table thead th {
    background: #fff;
    padding: 1rem 2rem;
    text-align: center
}

footer,
header,
table tbody td,
table thead th {
    text-align: center
}

:root {
    --color-light-50: #f8fafc;
    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000;
    --color-purple-50: #7c3aed;
    --color-purple-100: #a855f7;
    --color-purple-200: #bf46ef;
    --color-gradient: linear-gradient(90deg, var(--color-purple-50), var(--color-purple-100), var(--color-purple-200))
}

.card,
h2 {
    color: var(--dark-blue)
}

.icon {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.button.cancel,
.card h3 {
    align-items: center;
    display: flex
}

.bx-menu:before {
    content: "\eb5f";
    margin-left: 20px;
    font-size: 18px;
    display: none
}

.fa-sun:before {
    content: "\f185";
    margin-right: 39px;
    color: #ff0
}

.fa-moon:before {
    content: "\f186";
    margin-right: 39px;
    color: #fff
}

img {
    margin: 0 auto;
}

header {
    background: var(--dark-green);
    padding: 2rem 0 11rem
}

.card.total.positive,
button {
    background: #1f2020
}

#logo {
    color: #fff;
    font-weight: 100
}

h2 {
    margin: 3.2rem 0 .8rem
}

a {
    text-decoration: none
}

.button.new {
    display: inline-block;
    margin-bottom: .8rem
}

button {
    width: 100%;
    height: 50px;
    color: #fff;
    padding: 0;
    border: none;
    border-radius: .25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: .25rem;
    cursor: pointer
}

button:hover {
    background: var(--light-green);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s
}

.button.cancel {
    height: 50px;
    color: var(--normal-red);
    justify-content: center;
    border: 1px solid var(--normal-red);
    border-radius: .25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: .25rem;
    opacity: .6
}

.button.cancel:hover {
    opacity: 1;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s
}

#balance {
    margin-top: -8rem
}

#balance h2 {
    color: #fff;
    margin-top: 0
}

.card {
    background: #fff;
    padding: 1.5rem 2rem;
    margin-bottom: 3rem;
    border-radius: .25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: .25rem
}

.card h3 {
    font-size: 1rem;
    justify-content: space-between
}

.card p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem
}

.card.total,
.dark #user,
.dark .card p,
.dark span,
.dark table thead tr th:last-child,
.login,
.select .a_history,
.select.bx-menu:before,
table tbody tr td:last-child {
    color: #fff
}

footer,
td.description {
    color: var(--dark-blue)
}

.card.total.negative {
    background: #8d041a
}

#transaction {
    width: 100%;
    display: block;
    overflow-x: auto
}

#data-table {
    width: 100%;
    margin-top: 20px
}

table tbody tr td:first-child,
table thead tr th:first-child {
    border-radius: .25rem 0 0 .25rem;
    -webkit-border-radius: 0.25rem 0 0 0.25rem;
    -moz-border-radius: .25rem 0 0 .25rem;
    -ms-border-radius: 0.25rem 0 0 0.25rem;
    -o-border-radius: .25rem 0 0 .25rem
}

table tbody tr td:last-child,
table thead tr th:last-child {
    border-radius: 0 .25rem .25rem 0;
    -webkit-border-radius: 0 0.25rem 0.25rem 0;
    -moz-border-radius: 0 .25rem .25rem 0;
    -ms-border-radius: 0 0.25rem 0.25rem 0;
    -o-border-radius: 0 .25rem .25rem 0
}

table tbody td {
    border-spacing: 0 0.5rem
}

td.income {
    color: var(--money-green)
}

td.expense {
    color: var(--light-blue)
}

img.remove {
    cursor: pointer;
    display: block;
    margin: 0 auto
}

footer {
    opacity: .6;
    padding: 4rem 0 2rem
}

.dark .card,
.dark .card.total.positive,
.dark .float-button,
.select #sidebar {
    background-color: #282828
}

.description {
    background-color: #fff
}

.dark table tbody td,
.dark table thead th {
    background-color: #282828;
    color: #fff
}

.dark header {
    background-color: #3c3c3c
}

.dark .button.cancel {
    border: 1px solid #1f2020;
    color: #1f2020
}

.dark h2 {
    color: #1f2020
}

.dark .a_history {
    color: #000
}

.dark #user_infos span:last-child{
    color: white;
}

.select #user_infos span:last-child{
    color: black;
}



.icons_account {
    display: flex;
    align-items: center;
    gap: 9px
}

.AddTask {
    display: none
}

.button_generate:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}