*,
button {
    padding: 0
}

.dark .card,
.dark .card.total.positive,
.dark .float-button,
.float-button,
.select #sidebar {
    background-color: #282828
}

.card h3,
.card p,
h2,
table thead th {
    font-weight: 400
}

table tbody td,
table thead th {
    background: #282828;
    padding: 1rem 2rem;
    text-align: center
}

.float-button,
footer,
header,
table tbody td,
table thead th {
    text-align: center
}

.logins,
a {
    text-decoration: none
}

* {
    margin: 0;
    box-sizing: border-box
}

input {
    border-radius: 0.2rem;
}

:root {
    --color-light-50: #f8fafc;
    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000;
    --color-purple-50: #7c3aed;
    --color-purple-100: #a855f7;
    --color-purple-200: #bf46ef;
    --color-gradient: linear-gradient(90deg, var(--color-purple-50), var(--color-purple-100), var(--color-purple-200))
}

.float-button {
    color: #fff;
    box-shadow: 2px 2px 3px var(--shadow);
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 998
}

#input_Search,
input {
    padding: .8rem;
    border: none
}

input {
    width: 100%;
    border-radius: .2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: .2rem
}

#input_Search {
    width: 40%;
    border-radius: .2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: .2rem
}

.containers {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    flex-direction: column
}

.icon {
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.button.cancel,
.card h3 {
    align-items: center;
    display: flex
}

.link_row {
    color: #000
}

.card,
h2 {
    color: var(--dark-blue)
}

.bx-left-arrow-alt:before {
    content: "\eb33";
    margin-left: 20px;
    color: #fff
}

.fa-sun:before {
    content: "\f185";
    margin-right: 39px;
    color: #ff0
}

.fa-moon:before {
    content: "\f186";
    margin-right: 39px;
    color: #fff
}

img {
    margin: 0 auto
}

header {
    background: #3c3c3c;
    padding: 2rem 0 11rem
}

#logo {
    color: #fff;
    font-weight: 100
}

h2 {
    margin: 3.2rem 0 .8rem
}

.button.new {
    display: inline-block;
    margin-bottom: .8rem
}

button {
    width: 40%;
    height: 50px;
    color: #fff;
    background: #000;
    border: none;
    border-radius: .25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: .25rem;
    cursor: pointer
}

.button.cancel {
    height: 50px;
    color: var(--normal-red);
    justify-content: center;
    border: 1px solid var(--normal-red);
    border-radius: .25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: .25rem;
    opacity: .6
}

.button.cancel:hover {
    opacity: 1;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s
}

#balance {
    margin-top: -8rem
}

#balance h2 {
    color: #fff;
    margin-top: 0
}

.card {
    background: #fff;
    padding: 1.5rem 2rem;
    margin-bottom: 3rem;
    border-radius: .25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: .25rem
}

.card h3 {
    font-size: 1rem;
    justify-content: space-between
}

.card p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem
}

.Data,
.card.total,
.dark #user,
.dark .card p,
.dark span,
.dark table thead tr th:last-child,
.login,
.select #user_infos span:last-child,
table tbody tr td:last-child {
    color: #fff
}

footer,
td.description {
    color: var(--dark-blue)
}

.card.total.positive {
    background: var(--normal-green)
}

.card.total.negative {
    background: #8d041a
}

#transaction {
    width: 100%;
    display: block;
    overflow-x: auto
}

#data-table {
    color: var(--light-blue);
    width: 40%;
    color: var(--light-blue);
    margin: 20px auto 0
}

table tbody tr td:first-child,
table thead tr th:first-child {
    border-radius: .25rem 0 0 .25rem;
    -webkit-border-radius: 0.25rem 0 0 0.25rem;
    -moz-border-radius: .25rem 0 0 .25rem;
    -ms-border-radius: 0.25rem 0 0 0.25rem;
    -o-border-radius: .25rem 0 0 .25rem
}

table tbody tr td:last-child,
table thead tr th:last-child {
    border-radius: 0 .25rem .25rem 0;
    -webkit-border-radius: 0 0.25rem 0.25rem 0;
    -moz-border-radius: 0 .25rem .25rem 0;
    -ms-border-radius: 0 0.25rem 0.25rem 0;
    -o-border-radius: 0 .25rem .25rem 0
}

table tbody td {
    border-spacing: 0 0.5rem
}

td.income {
    color: var(--money-green)
}

td.expense {
    color: var(--light-blue)
}

img.remove {
    cursor: pointer;
    display: block;
    margin: 0 auto
}

footer {
    opacity: .6;
    padding: 4rem 0 2rem
}

.description {
    background-color: #fff
}

.dark table tbody td,
.dark table thead th {
    background-color: #282828;
    color: #fff
}

.dark button,
.dark header {
    background-color: #1f2020
}

.dark .button.cancel {
    border: 1px solid #1f2020;
    color: #1f2020
}

.dark h2 {
    color: #1f2020
}

.icons_account {
    display: flex;
    align-items: center;
    gap: 9px
}

table thead th {
    color: #fff
}

.logins {
    color: #fff;
    margin-right: 30px
}