@media (max-width: 900px) {
    #sidebar {
        display: none;
        /* Esconde o sidebar */
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .open-sidebar #open_btn_icon {
        transform: none;
    }

    #open_btn {
        display: none;
    }
}