@media (max-width:900px) {

    #open_btn,
    #sidebar {
        display: none
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    .open-sidebar #open_btn_icon {
        transform: none
    }
}