::-webkit-scrollbar {
    width: 7px
}

::-webkit-scrollbar:horizontal {
    height: 7px
}

::-webkit-scrollbar,
::-webkit-scrollbar:horizontal {
    background: var(--background)
}

::-webkit-scrollbar-thumb {
    background: var(--light-green)
}

::-webkit-scrollbar-corner {
    background: var(--background)
}